@import "../../colors";

.infoText {
  padding: 86px 103px;

  @media screen and (max-width: 360px) {
    padding: 0 16px;
    margin-top: 54px;
  }

  &__etc {
    position: relative;
    top: 2px;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}
